<div class="drill" aria-hidden="true">
  <div class="drill__handle-container">
    <div class="drill__handle-background">
      <div class="drill__handle-top"></div>
      <div class="drill__handle-hole"></div>
      <div class="drill__handle-bottom"></div>
    </div>
  </div>
  <div class="drill__spike-container">
    <div class="drill__spike"></div>
    <div class="drill__stripes">
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
      <div class="drill__stripe"></div>
    </div>
  </div>
</div>