@import 'colors.scss';

html, body {
  background: lighten($color__lighter, 10%);
  color: $color__darker;
  margin: 0;
}

a {
  color: $color__dark;
  &:visited {
    color: $color__darker;
  }
}

img {
  width: 100%;
}

.content {
  max-width: 800px;
  margin: 2em auto 4em;
  padding: 0 1em;
}

small {
  font-size: .8em;
}