@import 'colors.scss';
@import url("https://fonts.googleapis.com/css?family=Inconsolata:300,400");

html, body {
  font-family: Inconsolata, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
}
