@import '../variables';

.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1em 0 -2.5em;

  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  &__left {
    @media (min-width: 861px) {
      height: 5em;
      border-bottom: 3px solid $color--text;
      margin-bottom: calc(5em - 1px);
      padding: 0 1em;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__title {
    margin: .5em 0;
    font-size: 2em;
    font-weight: bold;
  }

  &__drill {
    padding: 0 1em;
    @media (max-width: 860px) {
      font-size: 3vw;
    }
  }

  &__right {
    @media (min-width: 861px) {
      height: 5em;
      flex: 1;
      border-bottom: 3px solid $color--text;
      margin-bottom: calc(5em - 1px);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__author {
    margin: 1em;
  }
}
