table {
  border: 1px solid rgba(0, 0, 0, .1);
}

thead th {
  background: rgba(0, 0, 0, .2);
}

td, th {
  padding: .25em .5em;
}

tbody {
  tr:nth-child(odd) {
    background: rgba(0, 0, 0, .05);
  }
  tr:nth-child(even) {
    background: rgba(0, 0, 0, .1);
  }
}

.ratings {
  overflow-x: auto;
  td {
    text-align: center;
    vertical-align: top;
    &:first-child {
      text-align: left;
    }
  }
}