<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="{{ '/assets/styles.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% if page.url == "/" %}
    <header class="title title--home">
    {% else %}
    <header class="title">
    {% endif %}
      <div class="title__drill">
        <div class="title__drill-line"></div>
        <div class="title__drill-container">
          <a href="{{ '/' | relative_url }}">
            {% include drill.html %}
          </a>
        </div>
      </div>
      <h1>{{ site.title }}</h1>
      <div class="title__author">@Paturages</div>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blog' | relative_url }}">Blog</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/about' | relative_url }}">About</a>
      </nav>
    </header>
    <section class="content">
      {{ content }}
    </section>
  </body>
</html>