<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="Fight the power!">
    <meta property="og:description" content="Paturages' personal website">
    <meta property="og:image" content="https://fightthe.pw/assets/favicon-128.png">
    <link href="{{ '/assets/styles.css' | relative_url }}" rel="stylesheet" type="text/css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7584756870614198",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    {% if page.url == "/" %}
    <header class="title title--home">
    {% else %}
    <header class="title">
    {% endif %}
      <div class="title__drill">
        <div class="title__drill-line"></div>
        <div class="title__drill-container">
          <a href="{{ '/' | relative_url }}">
            {% include drill.html %}
          </a>
        </div>
      </div>
      <h1>{{ site.title }}</h1>
      <div class="title__author">@Paturages</div>
      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blog' | relative_url }}">Blog</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/about' | relative_url }}">About</a>
      </nav>
    </header>
    <section class="content">
      {{ content }}
    </section>
  </body>
</html>
